@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    background-color: darkslategray;
}
#wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.container{
    max-width: 900px;
    margin: 0 auto;
    height: 100%;
}
.heading{
    text-align: center;
    margin: 15px 0 0 0;
    font-size: 3rem;
    color: #ffffff;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* margin: 25px; */
    gap: 25px;
    padding: 25px;
}
.card{
    position: relative;
    overflow: hidden; /* Ensure overflow is hidden to contain absolute positioned content */
}
.card img{
    width: 100%;
    border-radius: 10px;
    filter: grayscale(70%);
    border: 1px solid #8888887b;
}
.card:hover{
    transform: scale(1.04); /* Use transform to achieve the scaling effect */
    transition: 0.5s;
    filter: drop-shadow(0 0 10px rgb(145, 255, 255));
}
.card:hover img{
    filter: grayscale(0%);
}
.card figcaption{
    position: absolute;
    bottom: 5px; /* Initially position above the card */
    opacity: 0;
    width: 100%; /* Make the figcaption take the full width of the card */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%); /* Add a background to the caption */
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: white; /* Caption text color */
    padding: 15px 25px; /* Add some padding to the caption */
    border-radius: 0 0 17px 17px;
    transition: 0.3s; /* Add transition effect */
}
.card:hover figcaption{
    opacity: 1;
    bottom: 5px; /* Move the caption up into the card on hover */
    transform: scale(1.03);
}